<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TAGSNEW</display-name>
  <welcome-file-list>
    <welcome-file>AddEmployee.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeController</display-name>
    <servlet-name>AddEmployeeController</servlet-name>
    <servlet-class>controller.AddEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeController</servlet-name>
    <url-pattern>/AddEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGroupController</display-name>
    <servlet-name>AddGroupController</servlet-name>
    <servlet-class>controller.AddGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroupController</servlet-name>
    <url-pattern>/AddGroupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignOwnerController</display-name>
    <servlet-name>AssignOwnerController</servlet-name>
    <servlet-class>controller.AssignOwnerController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AssignOwnerControllerNew</display-name>
    <servlet-name>AssignOwnerControllerNew</servlet-name>
    <servlet-class>controller.AssignOwnerControllerNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignOwnerControllerNew</servlet-name>
    <url-pattern>/AssignOwnerControllerNew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssignOwnerController</servlet-name>
    <url-pattern>/AssignOwnerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAssignTaskController</display-name>
    <servlet-name>AddAssignTaskController</servlet-name>
    <servlet-class>controller.AddAssignTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAssignTaskController</servlet-name>
    <url-pattern>/AddAssignTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskStatus</display-name>
    <servlet-name>UpdateTaskStatus</servlet-name>
    <servlet-class>controller.UpdateTaskStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskStatus</servlet-name>
    <url-pattern>/UpdateTaskStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Try</display-name>
    <servlet-name>Try</servlet-name>
    <servlet-class>controller.Try</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Try</servlet-name>
    <url-pattern>/Try</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUpdateController</display-name>
    <servlet-name>SearchUpdateController</servlet-name>
    <servlet-class>controller.SearchUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUpdateController</servlet-name>
    <url-pattern>/SearchUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>logger.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
</web-app>